{% extends 'base/base.html' %}

{% block header %}
    <h1>Register</h1>
{% endblock header %}

{% block body %}
    <form method="post" class="register-form">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <br>
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <br>
        
        <button type="submit" class="button">Register</button>
    </form>

    <p>Already have an account? 
        <a href="{% url 'login' %}" class="login-link">Login</a>
    </p>
{% endblock body %}
