{% extends 'base/base.html' %}

{% block header %}
{% if request.user.is_authenticated%}
        <h1>Hello {{user.username | title }}</h1>
        <a href="{% url 'logout' %}">Log out</a>

        {% else %}
        <a href="{% url 'login' %}">Log in</a>
        {% endif%}
        <br>
        <br>
        <p>You have <i>{{count}}</i> incomplete Task{{ count|pluralize:"s" }}</p>
{% endblock header %}
{% block body %}

        <div class="" style="justify-content: space-between; display: flex;">
            <form action="" method="GET" style="align-self: center;">
                <input type="text" name="search-area" class= "input">
                <input type="submit"  value="Search" class= "button">
                </form>          
            <a href="{% url 'task-create' %}" style="font-size: 50px;color: #EB796f;">&#43;</a> 
        </div>
        

        
        <table class="table">
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>

            <tbody>
                {% for task in tasks%}
                <tr scope="row">
                    {% if task.complete %}
                         <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                          </svg></td>
                        <td><i><s><a href="{% url 'task-update' task.id %}">{{task.title}}</a></s></i></td>
                        <td><i><s>{{task.description}}</th></s></i></td>
                        <td><a href="{% url 'task-delete' task.id %}">&#10005;</a></td>
                    {% else %}
                        <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#CDD009" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                          </svg></td>
                        <td><a href="{% url 'task-update' task.id %}">{{task.title}}</a></td>
                        <td>{{task.description}}</td>                    
                        <td><a href="{% url 'task-delete' task.id %}">&#10005;</a></td>
                    {% endif %}    
                </tr>
                   
                {% empty %}
                    <h1>No Tasks</h1>
                {% endfor %}

                
            </tbody>
        </table>


{% endblock body %}

